*{
    margin: 0;
    padding: 0;
}
/* body{
    text-align: center;
} */

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}
button{
    color: white;
    background-color: #4caf4f;
    border-radius: 4px;
    margin-top: 6px;    
}

/* .logoh img{
    height: 25px;
    width:  25px;
} */

.banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.h1color{
    color: #4caf4f;
}
/* p{
    text-align: center;
} */

.div1{
    margin-left: 20px;
}
.div2{
    margin-right: 20px;
}

.googleicon{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.text{
    text-align: center;
}
.member{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 45%;
}
.box1 img{
    width: 45px;
    display: flex;
    margin-left: 40%;
}
.box1{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 15vh;
}

.centerb{
    margin-top: 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
}
.imag2 {
   width: 60%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
}

.centerb button{
    width: 100px;
    border-radius: 5px;
}


@media (max-width:768px) {
    .nav{
        display: none;
    }
    .googleicon{
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: column; */
        width: 10%;
        justify-content: center;
        align-items: center;
    }
    .member{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    }
    
}